@font-face {
  src: url(../fonts/InterDisplay-Black.otf) format("otf");
  font-family: "Inter Black";
}

@font-face {
  src: url(../fonts/Inter-Medium.otf) format("otf");
  font-family: "Inter Medium";
}

@font-face {
  src: url(../fonts/InterDisplay-Regular.otf) format("otf");
  font-family: "Inter Regular";
}
