.review {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.back__icon {
  width: 20px;
}

.back__icon:hover {
  filter: invert(72%) grayscale(0%) sepia(82%) saturate(350%) hue-rotate(0deg);
}

.review__item {
  max-width: 60%;
  font-family: "Inter Black", sans-serif;
  color: #1b4487;
}

.review__title {
  font-size: 30px;
  text-align: center;
}

.review__description {
  font-size: 23px;
  text-align: justify;
}

.review__rating {
  color: #eaad00;
  text-align: center;
  font-size: 18px;
}
